.spacerTop {
	margin-top: 2rem;
}

.totalwidth {
	width: 100%;
}

.maincontent {
	text-align: center;
	margin: auto;
}

.title {
	color: #AA7439;
	font-weight: bold;
	font-size: 30px;
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
}

.maincontentasset {
	width: 100%;
}

.buttonbar {
	width: 100%;
	margin: auto;
	text-align: center;
}

.buttonbarbuttons {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 250px;
	height: 50px;
	padding-left: 20px;
}

.main_btn {
	display: block;
}

.title :AFTER {
	display: block;
}

.checkItOut{
font-size: xx-large;
    margin-top: 7%;
    margin-left: 20%;
    position: absolute;	
}

.halfSpaceh, .btnFooter {
	width: 50%;
}
.sapUiHLayoutChildWrapper{
	margin-left:10%;
	margin-right:10%

	}
	.sapUiHLayoutNoWrap {
	 width: 100%;
	}
	
	.sapMInputBaseInner {
	width: 1000px;
	}
	.bigInput
	{
	width: 1000px;
	height: 300px;!important
	}
	
	.text
	{
	width:200px;
	}
	
	.sapUiVlt {
   
    margin-top:10%;
}

.uploadercl{
	padding-top: 30px;
	height: 40px;
}
